<!--displays images of the fishing items for sales-->
<div class="fish-wrapper">
	<div class="image-wrapper">
		<img id="fish1" src="img/auger.png">
	</div>
	<div class="image-wrapper">
		<img id="fish2" src="img/bag2.png">
	</div>
	<div class="image-wrapper">
		<img id="fish3" src="img/boots.png">
	</div>
	<div class="image-wrapper">
		<img id="fish4" src="img/boots2.png">
	</div>
</div>
<div class="fish-wrapper2">
	<div class="image-wrapper">
		<img id="fish5" src="img/lure.png">
	</div>
	<div class="image-wrapper">
		<img id="fish6" src="img/lure2.png">
	</div>
	<div class="image-wrapper">
		<img id="fish7" src="img/reel.png">
	</div>
	<div class="image-wrapper">
		<img id="fish8" src="img/reel2.png">
	</div>
</div>
<div class="fish-wrapper3">
	<div class="image-wrapper">
		<img id="fish9" src="img/tackle.png">
	</div>
	<div class="image-wrapper">
		<img id="fish10" src="img/vest.png">
	</div>
	<div class="image-wrapper">
		<img id="fish11" src="img/line.png">
	</div>
	<div class="image-wrapper">
		<img id="fish12" src="img/img7.jpg">
	</div>
</div>