<!--puts the text boxes onto the contact page. gets the name, email and comments -->
<div id="goods2">
	<div id="form">
		<form action="/form" method="POST">
			<div>
				<label id="name" for="name">Name:</label>
				<input type="text" id= "input1" placeholder="Name" name="username">
			</div>
			<div>
				<label id="email" for="email">Email:</label>
				<input type="text" id= "input2" placeholder="Email" name="email">
			</div>
			<div>
				<textarea id="commentbox" type="text" placeholder="Comments" name="comments"></textarea>
			</div>
				<div>
				<input id="button" type="submit" value="Submit">
				</div>
			</div>
		</form>
	</div>
</div>