<!-- puts the store info on the home page -->
<div id="goods">
	<h2>The Outdoors Shop provides outdoor enthusiasts in the Salt Lake City, Utah, area with top-brand gear & clothing for camping, climbing, cycling, fitness, hiking, paddling, skiing, snowboarding and more. We’re a complete Salt Lake City-area bike shop, offering a full range of professional bike shop services to help keep you biking the streets and trails year-round. Our ski & snowboard shop services will get your gear tuned up for the slopes. Looking to try a new activity before you buy? We offer a wide selection of outdoor rental equipment. come let our staff of friendly experts help you get ready for your next adventure.</h2>
</div>
